
<div class="sidebar">
    <h5 class="text-white text-center py-3 border-bottom">Ramzan POS</h5>

    <a href="/admin/dashboard">Dashboard</a>


    <div class="text-uppercase text-secondary small px-3 mt-3">Company</div>

    <a href="/admin/companies">Company Master</a>
    <a href="/admin/branches">Branch Master</a>

    <!--<div class="text-uppercase text-secondary small px-3 mt-3">Masters</div>-->

    <!--<a href="/admin/sizes">ðŸ“ Size Master</a>-->
    <!--<a href="/admin/categories">ðŸ“‚ Category Master</a>-->
    <!--<a href="/admin/products">ðŸ• Product Master</a>-->
    <!--<a href="/admin/addon-groups">âž• Addon Groups</a>-->
    <!--<a href="/admin/addons">ðŸ§© Addons</a>-->
    <!--<a href="/admin/toppings">ðŸ§€ Toppings</a>-->

    <!--<div class="text-uppercase text-secondary small px-3 mt-3">Meals</div>-->

    <!--<a href="/admin/meals">ðŸ± Meals</a>-->
    <!--<a href="/admin/meal-deals">ðŸŽ Meal Deals</a>-->

    <!--<div class="text-uppercase text-secondary small px-3 mt-3">Orders</div>-->

    <!--<a href="/admin/orders">ðŸ§¾ Orders</a>-->
    <!--<a href="/admin/order-assign">ðŸšš Assign Orders</a>-->

    <!--<div class="text-uppercase text-secondary small px-3 mt-3">System</div>-->

    <!--<a href="/admin/users">ðŸ‘¤ Users</a>-->
    <!--<a href="/admin/settings">âš™ Settings</a>-->
</div>
